footer {
  margin-top: 2rem;
  padding: 3rem 1rem;
  width: 100%;
  border-top: medium solid $bk-md;
  background-color: $bk-dk;
  text-align: center;
  color: $md;

  font-size: .8em;

  ul {
    
  }
  li {
    display: inline;
    padding: 1em;
    letter-spacing: 1px;
  }
  a {
    color: $wh-tr-5;

    &:hover {
      color: $wh-tr-7;
    }
  }
}