footer {
  margin-top: 2rem;
  padding: 3rem 1rem;
  min-width: 100%;
  border-top: medium solid $bk-md;
  background-color: $bk-dk;
  text-align: center;

  font-size: .8em;

  ul {

  }
  li {

  }
}