// BOX-SIZING

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  html {
    box-sizing: border-box;
  } 

// BODY 

  body {
    background-color: $dk;
    color: $lt;
    font-size: 100%;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: $bodytext;
    font-weight: 200;
    // padding: 1em;
  }

  article {
    display: flex;
    justify-content: space-between;
    width: 980px;
    padding: 0 1em;
    margin: auto;
  }
  section {
    flex: 1;
    background: $wh-tr-1;
    padding: 1em;
    max-width: 620px;
    box-shadow: inset 0 0 10em $wh-tr-2;

    h1 {
      font-size: 1.2em;
      font-weight: 600;
      margin-bottom: .5em;
      text-transform: uppercase;
    }
    .post {
      margin-bottom: 3em;
      padding-top: 1em;
      border-top: medium solid $dk;

      &:nth-child(1) {
        border: 0;
        padding-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }

      iframe {
        width: 100%;
      }
      p {
        line-height: 1.4;
        margin-bottom: 1em;
        font-weight: 100;
        letter-spacing: 1px;
      }
      ul {
        margin: 0 0 1em;
      }
      li {
        margin: .5em 1em;
        list-style: disc;
      }
    }
  }

// LINKS 

  a {
    text-decoration: none;
    color: $link;
    transition: all .2s ease-in-out;

    &:hover {
      color: $link-hover;
    }
    &:active {
      color: $link-active;
    }
  }

// HEADERS 

  h1, h2, h3, h4, h5 {

  }
  h1 {
    font-size: 3em;
  }
  h2 {
    font-size: 2.6em;
  }
  h3 {
    font-size: 2.2em;
  }
  h4 {
    font-size: 1.8em
  }


// OTHER 
  .no-jsmsg {
    display: none;
  }

// MONOSPACED 
  code {
    font-family: $mono;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
    line-height: 26.3999996185303px;
    padding: .2em;
    background-color: $bk-tr-6;

  }

// FORMS 
  form {
    * {
      -webkit-appearance: none;
      border-radius: 0;
      border: 0;
    }  
  }
  
  // 404 

    .error-page {
      // text-align: center;
    }

