.main-header {
  padding: 0 2em;
  height: 160px;
  display: flex;
  align-content: flex-start;
  position: relative;
  justify-content: space-around;
  flex-flow: row wrap;

  .logo {
    position: absolute;
    width: 160px;
    height: 160px;
    background-image: url(../images/griffmonkey-logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -10;
    top: 2em;
    left: 0;
    min-width: auto;
  }
  h1 {
    font-size: 1.8em;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 8px;
    margin-left: 180px;
    margin-top: 2em;
    min-width: auto;
    flex-grow: 2;

    a {
      color: $lt;

      &:hover {
        text-shadow: 0 .4em 0 $bk-tr-4;
      }
      strong {
        color: $bl;
      }
    }
  }
  nav {
    order: 3;
    min-width: 100%;
    padding-left: 180px;
    position: relative;
    // top: -1.6em;
    text-indent: -9999px;
    height: 0;
    display: inline-block;

    li {
      text-transform: uppercase;
      padding: .2em 2em .2em 0;
      letter-spacing: 2px;
      display: inline;
      text-indent: 0;
    }
    .categories {
      // display: none;
    }
    a {
      color: $lt;

      &:hover {
        color: $wh-lt;
      }
    }
  }
}