.main-header {
  width: 980px;
  margin: 0 auto;
  padding: 0 1em;
  height: 160px;
  display: flex;
  align-content: flex-start;
  position: relative;
  justify-content: space-around;
  flex-flow: row wrap;

  .logo {
    width: 12em;
    height: 12em;
    position: absolute;
    top: .8em;
    left: -2.6em;
    min-width: auto;

    a {
      display: block;
      width: inherit;
      height: inherit;
      background-image: url(../images/griffmonkey-logo.png);
      background-repeat: no-repeat;
      background-size: contain;

      &:hover {
      }
    }
  }
  h1 {
    font-size: 1.8em;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 8px;
    margin-left: 3.6em;
    margin-top: 1.6em;
    min-width: auto;
    flex-grow: 2;

    a {
      color: $lt;

      &:hover {
        text-shadow: 0 .4em 0 $bk-tr-4;
      }
      strong {
        color: $bl;
      }
    }
  }
}
.main-menu {
  min-width: 100%;
  // padding-left: 10em;
  // height: 0;
  display: inline-block;
  

  ul {
    li {
      text-transform: uppercase;
      padding: .2em 2em .2em 0;
      letter-spacing: 2px;
      display: inline;
      text-indent: 0;
    }
  }

  a {
    color: $lt;

    &:hover {
      color: $wh-lt;
    }
  }
}
.nav-trigger,
label[for="nav-trigger"] {
  visibility: hidden;
}