// GLOBAL SEARCH 
  .search {

    label {
      display: none;
    }
    input {
      display: inline-block;
    }
    input[type=submit] {
      text-indent: -9999px;
      background-image: url(../images/search-lupe.png);
      background-size: 40%;
      background-repeat: no-repeat;
      background-position: 50%;
      width: 3em;
      display: inline-block;
      cursor: pointer;
      float: right;

      &:hover {
        background-color: $wh-lt;
      }
    }
  }

  form.search-header {
    position: relative;
    right: 0;
    top: 3.4rem;
    
    input[type=text] {
      width: 10em;
      text-align: right;

      &:focus {
        width: 16em;
      }
    }
    input[type=submit] {
      
      &:hover {
        width: 3.4em;
      }
    }
  }

// LARGE SEARCH 
  .search-large {
    

    input[type=text] {
      width: calc(100% - 3em);

      &:focus {
        background-color: $wh-tr-7;
        
      }
    }
    input[type=submit] {
      width: 3em;
    }
  }

// FOOTER SEARCH
  .search-footer {
    display: block;
    width: 980px;
    padding: 0 4em 4em;
    margin: auto;

    label {
      display: block;
      border-top: thin dashed $wh-tr-1;
      margin: 1em;
    }

    input[type=text] {
      width: auto;
    }
    input[type=submit] {
      float: none;

    }
  }
