.search {

  label {
    display: none;
  }
  input {
    display: inline-block;
  }
  input[type=submit] {
    text-indent: -9999px;
    background-image: url(../images/search-lupe.png);
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: 50%;
    width: 3em;
    display: inline-block;
    cursor: pointer;
    float: right;

    &:hover {
      background-color: $wh-lt;
    }
  }
}

form.search-header {
  position: relative;
  right: 0;
  top: 3.4rem;
  
  input[type=text] {
    width: 10em;
    text-align: right;

    &:focus {
      width: 16em;
    }
  }
  input[type=submit] {
    
    &:hover {
      width: 3.4em;
    }
  }
  
}
.search-large {
  

  input[type=text] {
    width: calc(100% - 3em);

    &:focus {
      background-color: $wh-tr-7;
      
    }
  }
  input[type=submit] {
    width: 3em;
  }
}
