aside {
  background: $bk-dk;
  width: 300px;
  display: inline-block;
  
  h1, h2 {
    padding: 1rem 1rem .5rem;
  }
  h1 {
    font-size: 1em;
    text-align: left;
  }
  h2 {
    text-align: center;
  }
  p {
    line-height: 1.5;
    font-size: .8em;
    color: $wh-tr-4;
    padding: 0 1rem .5rem;
  }
  img {
    display: block;
  }
  ul {
    margin: 0 1rem;
  }
  li {

    &:hover {
      background: $wh-tr-1;
    }
  }
  span {
    text-align: right;
    float: right;
  }
}